/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

header {
    text-align: center;
    margin-top: 15px;
}

h1 {
    color: blue;
    font-family: 'Times New Roman';
}

section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    margin-bottom: 20px;
}

.g {
    background-color: blue;
}


.g h2 {
    font-family: Arial;
    color: black;
    background-color: brown;
}

.h3 {
    padding: 24px;
    font-size: 25px;
    color: aquamarine;

    font-family: 'Times new Roman';
    
}

#trendingCards, #searchedCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 15em; 
    width: 15em; 
    padding: 14px;
}

.cardContainer {
    margin: 10px; 
    width: 200px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
}


h4 {   
    padding: 14px;

    font-family: 'Times new Roman';
    font-size: 25px;

}